# ==========================================
# APPLICATION & SECURITY
# ==========================================
APP_PORT=8080
JWT_SECRET=

# ==========================================
# DATABASE (PostgreSQL)
# ==========================================
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123
DB_NAME=cloudmart

# ==========================================
# AWS S3 (Image & Video Uploads)
# ==========================================
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

# ==========================================
# MIDTRANS (Payment Gateway)
# ==========================================
MIDTRANS_ENV=sandbox
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
